<p id="notice"><%= notice %></p>

<h2 class="card-header"><%= @post.title %></h2>
<p><% @post.categories.each do |category| %>
  <%= link_to category.title, category_path(category), class:"btn btn-outline-success" %>
<% end %>
</P>
<h4>
<%= sanitize @post.content, tags: %w(h1 h2 h3 h4 h5 h6 ul ol li p a img table tr td em br strong div), attributes:  %w(id class href) %>
</h4>


<% @post.subcontents.order(:content_order).each do |subcontent| %>
<% if subcontent.content_type == "code" %>
  <div class="card bg-dark text-success">
<% else %>
  <div class="card">
<% end %>
    <h5 class="card-header"><%= subcontent.tilte %></h5>
    <div class="card-body">
    <%= sanitize subcontent.content, tags: %w(h1 h2 h3 h4 h5 h6 ul ol li p a img table tr td em br strong div), attributes:  %w(id class href) %>
    </div>
  </div>
<% end %>

</p>

<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-outline-dark" %> |
<%= link_to 'Back', posts_path, class:"btn btn-outline-dark"  %>
