<p id="notice"><%= notice %></p>

<h1>Subcontents</h1>

<table>
  <thead>
    <tr>
      <th>Tilte</th>
      <th>Post ID</th>
      <th>Post Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcontents.each do |subcontent| %>
      <tr>
        <td><%= subcontent.tilte %></td>
        <td><%= subcontent.post_id %></td>
        <td><%= subcontent.post.title %></td>
        <td><%= link_to 'Show', subcontent %></td>
        <td><%= link_to 'Edit', edit_subcontent_path(subcontent) %></td>
        <td><%= link_to 'Destroy', subcontent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subcontent', new_subcontent_path %>
