<nav class="navbar navbar-expand-lg headbar">
    <a class="navbar-brand" href="/">Pro College</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto headbar-content">

          <li class="nav-item headbar-item">
            <%= link_to "Subcontents", subcontents_path %>
          </li>

          <li class="nav-item headbar-item">
            <%= link_to "Categories", categories_path %>
          </li>

          <li class="nav-item dropdown headbar-item">
            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Posts
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/posts/new">New Post</a>
              <a class="dropdown-item" href="/posts">All Posts</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

        </ul>

        <%= form_tag posts_path, :method => 'get' do %>
        <!-- , class:"form-control mr-sm-2", -->
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
          <%= submit_tag "Search", :name => nil, :class => "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
    </div>

</nav>
